*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #eee;
    font-family: Arial, Helvetica, sans-serif;
}

html, body{
    height: 100%;
    width: 100%; 
}

.container{
    width: 100%;
    height:100%;
    background-image: url("https://images.pexels.com/photos/388415/pexels-photo-388415.jpeg");
    background-size: cover;
    background-position: center;
    position: relative;
}

.taskbar{
    width: 100%;
    height: 3rem;
    position: absolute;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-inline: 1rem;
    background-color: #4a0606f3;

    .left-section{
        display: flex;
        gap: 0.5rem;

        i{
            font-size: 1.8rem;
        }
        .temp-val{
            display:flex;
            flex-direction: column;

            span{
                font-size: 0.9rem;
            }
        }
    }

    .center{
        display: flex;
        align-items: center;
        gap: 1rem;
        font-size: 1.8rem;
        
        .search-box{
            position: relative;
            width: 8rem;
            
            i{
                position: absolute;
                left: 12px;
                top: 50%;
                transform: translateY(-50%);
                font-size: 1rem;
                text-align: center;
                color: #888;
            }

            input{
                width: 100%;
                height: 2rem;
                padding: 1rem 1rem 1rem 2rem;
                border: none;
                border-radius: 18rem;
                outline: none;
                color: #888;
            }
        }
    }

    .right-section{
        display: flex;
        align-items: center;
        gap: 0.7rem;
        
        .lang{
            display: flex;
            flex-direction: column;
            align-items: center;
            font-size: 0.8rem;
        }

        .time-date{
            display: flex;
            flex-direction: column;
            align-items: end;
            font-size: 0.8rem;
        }
    }
}
