*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #eee;
    font-family: Arial, Helvetica, sans-serif;
}

html, body{
    height: 100%;
    width: 100%; 
}

.container{
    width: 100%;
    height:100%;
    background-image: url("https://images.pexels.com/photos/388415/pexels-photo-388415.jpeg");
    background-size: cover;
    background-position: center;
    position: relative;

    .taskbar{
        width: 100%;
        height: 2rem;
        position: absolute;
        bottom: 0;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding-inline: 1rem;
        background-color: #4a0606f3;
    
        .left-section{
            display: flex;
            gap: 0.4rem;
            padding: 0.1rem 0.5rem; 
            
            &:hover{
                border-radius: 0.2rem;
                background-color: #c8c8c82f;
            }

            i{
                font-size: 1.2rem ;
            }

            .temp-val{
                display:flex;
                flex-direction: column;
    
                span{
                    font-size: 0.5rem;
                }
            }
        }
    
        .center{
            display: flex;
            align-items: center;
            gap: 0.2rem;
            font-size: 1rem;

            i{
                padding: 0.2em 0.3rem; 

                &:hover{
                    border-radius: 0.2rem;
                    background-color: #c8c8c82f;
                }
            }
            
            .search-box{
                position: relative;
                width: 4.1rem;
                
                i{
                    position: absolute;
                    left: 10px;
                    top: 50%;
                    transform: translateY(-50%);
                    font-size: 0.5rem;
                    text-align: center;
                    color: #888;
                }
    
                input{
                    width: 100%;
                    height: 1.2rem;
                    padding: 0.3rem 0.3rem 0.3rem 1.6rem;
                    border: none;
                    border-radius: 18rem;
                    outline: none;
                    color: #888;
                    font-size: 0.5rem;

                    &:hover{
                        background-color: #fffffff0;
                    }
                }
            }
        }
    
        .right-section{
            display: flex;
            align-items: center;
            gap: 0.4rem;
            
            .lang{
                display: flex;
                flex-direction: column;
                align-items: center;
                font-size: 0.5rem;
                font-weight: 400;
                padding: 0.2rem;

                &:hover{
                    border-radius: 0.2rem;
                    background-color: #c8c8c82f;
                }
            }
            
            .quick-settings{
                font-size: 0.6rem;
                font-weight: normal;
                padding: 0.4rem 0.2rem;


                &:hover{
                    border-radius: 0.2rem;
                    background-color: #c8c8c82f;
                }
            }

            .time-date{
                display: flex;
                flex-direction: column;
                align-items: end;
                font-size: 0.5rem;
                padding: 0.2rem;

                &:hover{
                    border-radius: 0.2rem;
                    background-color: #c8c8c82f;
                }
            }
        }
    }
}

